<module>
  <rawname>nethcti3</rawname>
  <repo>unsupported</repo>
  <name>NethCTI 3 Configuration Module</name>
  <version>1.0.5</version>
  <category>Applications</category>
  <Publisher>Nethesis</Publisher>
  <info></info>
  <licence>GPL</licence>
  <licenselink>http://www.gnu.org/licenses/gpl-2.0.txt</licenselink>
<depends>
  <version>14</version>
</depends>
<supported>14.0</supported>

<description>Generate NethCTI 3 Configuration hooking apply config</description>
<changelog></changelog>

</module>
